html,body,#bg,#bg table,#bg td{width:100%;height:100%;overflow:hidden}
#bg div{position:absolute;width:200%;height:200%;top:-50%;left:-50%}
#bg td{vertical-align:middle;text-align:center}
#bg img{min-height:50%;min-width:50%;margin:0 auto}